 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(to right, #478ac9 27%, #db545a 100%);
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 724px;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 121px 0 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 663px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 9px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1121px;
  margin: 19px 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 539px;
}

.u-section-2 .u-container-layout-1 {
  padding: 13px 0 29px;
}

.u-section-2 .u-text-2 {
  margin: 0 15px;
}

.u-section-2 .u-text-3 {
  margin: 31px 30px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 582px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 27px;
}

.u-section-2 .u-image-1 {
  width: 582px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 0% 50%;
  left: auto;
  right: -94px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 488px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 180px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-2 .u-image-1 {
    width: 306px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-2 .u-image-1 {
    width: 371px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 565px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 582px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 3379px;
}

.u-section-3 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 3259px;
  --gap: 22px;
}

.u-section-3 .u-repeater-item-1 {
  background-image: none;
  --radius: 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 24px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-3 .u-image-1 {
  width: 552px;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  height: 684px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 519px;
  min-height: 661px;
  height: auto;
  margin: -672px 6px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin: 15px -9px 0 9px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-family: Oswald, sans-serif;
  margin: 25px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-size: 3rem;
  --radius: 20px;
  margin: 60px auto 0 137px;
  padding: 10px 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-size: 3rem;
  --radius: 20px;
  margin: 2926px 33px -2981px auto;
}

.u-section-3 .u-repeater-item-2 {
  background-image: none;
  --radius: 50px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 24px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-3 .u-image-2 {
  width: 552px;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  height: 684px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 519px;
  min-height: 661px;
  height: auto;
  margin: -672px 6px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-5 {
  font-family: Roboto, sans-serif;
  margin: 15px -9px 0 9px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-family: Oswald, sans-serif;
  margin: 25px 0 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  font-size: 3rem;
  --radius: 20px;
  margin: 60px auto 0 137px;
  padding: 10px 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  font-size: 3rem;
  --radius: 20px;
  margin: 2926px 33px -2981px auto;
}

.u-section-3 .u-repeater-item-3 {
  background-image: none;
  --radius: 50px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 24px;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-3 .u-image-3 {
  width: 552px;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  height: 684px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-group-3 {
  width: 519px;
  min-height: 661px;
  height: auto;
  margin: -672px 6px 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-8 {
  font-family: Roboto, sans-serif;
  margin: 15px -9px 0 9px;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-9 {
  font-family: Oswald, sans-serif;
  margin: 25px 0 0;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  font-size: 3rem;
  --radius: 20px;
  margin: 60px auto 0 137px;
  padding: 10px 0;
}

.u-section-3 .u-btn-9 {
  background-image: none;
  font-size: 3rem;
  --radius: 20px;
  margin: 2926px 33px -2981px auto;
}

.u-section-3 .u-repeater-item-4 {
  background-image: none;
  --radius: 50px;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 24px;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-3 .u-image-4 {
  width: 552px;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  height: 684px;
  margin: 19px auto 0 0;
}

.u-section-3 .u-group-4 {
  width: 519px;
  min-height: 661px;
  height: auto;
  margin: -672px 6px 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-11 {
  font-family: Roboto, sans-serif;
  margin: 15px -9px 0 9px;
}

.u-section-3 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-12 {
  font-family: Oswald, sans-serif;
  margin: 25px 0 0;
}

.u-section-3 .u-btn-11 {
  background-image: none;
  font-size: 1.875rem;
  --radius: 20px;
  margin: 60px auto 0 137px;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 22px;
  }

  .u-section-3 .u-image-1 {
    width: 367px;
    height: 494px;
  }

  .u-section-3 .u-group-1 {
    width: 455px;
    margin-top: -458px;
    height: auto;
  }

  .u-section-3 .u-btn-3 {
    --top-left-radius: 0px;
    --top-right-radius: 0px;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 0px;
    border-style: solid;
    margin-right: 0;
    padding: 0;
  }

  .u-section-3 .u-image-2 {
    width: 367px;
    height: 494px;
  }

  .u-section-3 .u-group-2 {
    width: 455px;
    margin-top: -458px;
    height: auto;
  }

  .u-section-3 .u-btn-6 {
    --top-left-radius: 0px;
    --top-right-radius: 0px;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 0px;
    border-style: solid;
    margin-right: 0;
    padding: 0;
  }

  .u-section-3 .u-image-3 {
    width: 367px;
    height: 494px;
  }

  .u-section-3 .u-group-3 {
    width: 455px;
    margin-top: -458px;
    height: auto;
  }

  .u-section-3 .u-btn-9 {
    --top-left-radius: 0px;
    --top-right-radius: 0px;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 0px;
    border-style: solid;
    margin-right: 0;
    padding: 0;
  }

  .u-section-3 .u-image-4 {
    width: 367px;
    height: 494px;
  }

  .u-section-3 .u-group-4 {
    width: 455px;
    margin-top: -458px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-2 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-3 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-4 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 407px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    height: 407px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 407px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-4 {
    height: 407px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-4 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-11 {
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1962px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 135px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 11.3333px));
  min-height: 1460px;
  --gap: 17px;
  grid-auto-columns: calc(33.3333% - 11.3333px);
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 20px;
}

.u-section-4 .u-image-1 {
  height: 256px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  object-position: 50% 14.18%;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  text-transform: none;
  margin: 21px 21px 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 21px 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 19px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 20px;
}

.u-section-4 .u-image-2 {
  height: 256px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  object-position: 50% 0%;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  text-transform: none;
  margin: 21px 21px 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 21px 0;
}

.u-section-4 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 19px auto 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 20px;
}

.u-section-4 .u-image-3 {
  height: 256px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  object-position: 50% 40.23%;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  text-transform: none;
  margin: 21px 21px 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 21px 0;
}

.u-section-4 .u-btn-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 19px auto 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 20px;
}

.u-section-4 .u-image-4 {
  height: 256px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  object-position: 50% 0%;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  text-transform: none;
  margin: 21px 21px 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 21px 0;
}

.u-section-4 .u-btn-4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 19px auto 0;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 0 20px;
}

.u-section-4 .u-image-5 {
  height: 256px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  object-position: 50% 29.29%;
}

.u-section-4 .u-text-10 {
  font-weight: 400;
  text-transform: none;
  margin: 21px 21px 0;
}

.u-section-4 .u-text-11 {
  margin: 20px 21px 0;
}

.u-section-4 .u-btn-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 19px auto 0;
}

.u-section-4 .u-list-item-6 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 0 20px;
}

.u-section-4 .u-image-6 {
  height: 256px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  object-position: 50% 47.76%;
}

.u-section-4 .u-text-12 {
  font-weight: 400;
  text-transform: none;
  margin: 21px 21px 0;
}

.u-section-4 .u-text-13 {
  margin: 20px 21px 0;
}

.u-section-4 .u-btn-6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1332px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 11.3333px));
    min-height: 1204px;
    grid-gap: 17px;
    grid-auto-columns: calc(33.333333333333336% - 11.333333333333334px);
  }

  .u-section-4 .u-image-1 {
    height: 211px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 211px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    height: 211px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    height: 211px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-5 {
    height: 211px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-6 {
    object-position: 50% 100%;
    height: 211px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8.499975px));
    min-height: 2075px;
    grid-auto-columns: calc(50% - 8.5px);
  }

  .u-section-4 .u-image-1 {
    height: 242px;
  }

  .u-section-4 .u-image-2 {
    height: 242px;
  }

  .u-section-4 .u-image-3 {
    height: 242px;
  }

  .u-section-4 .u-image-4 {
    height: 242px;
  }

  .u-section-4 .u-image-5 {
    height: 242px;
  }

  .u-section-4 .u-image-6 {
    height: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-image-1 {
    height: 363px;
  }

  .u-section-4 .u-image-2 {
    height: 363px;
  }

  .u-section-4 .u-image-3 {
    height: 363px;
  }

  .u-section-4 .u-image-4 {
    height: 363px;
  }

  .u-section-4 .u-image-5 {
    height: 363px;
  }

  .u-section-4 .u-image-6 {
    height: 363px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 229px;
  }

  .u-section-4 .u-image-2 {
    height: 229px;
  }

  .u-section-4 .u-image-3 {
    height: 229px;
  }

  .u-section-4 .u-image-4 {
    height: 229px;
  }

  .u-section-4 .u-image-5 {
    height: 229px;
  }

  .u-section-4 .u-image-6 {
    height: 229px;
  }
} .u-section-5 {
  --color-var: #333333;
}

.u-section-5 .u-sheet-1 {
  min-height: 1544px;
}

.u-section-5 .u-list-1 {
  margin-top: 125px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 939px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("/images/IMG_1132.PNG");
  background-position: 50% 13.89%;
  background-size: cover;
  margin: 83px auto 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  --radius: 20px;
  margin: 40px 72px 0 auto;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("/images/R7ruWMY1PMfH9sTJ436C9wfcr4r-rPM7KUb4cYIJLO2NRDKwl_D3Ml0KjhEV1TImjbFwTpJOB0-jFjyFAR85_gY7.jpg");
  background-position: 50% 50%;
  margin: 83px auto 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  text-transform: none;
  font-size: 2.25rem;
  margin: 23px 0 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-size: 1.5rem;
  --radius: 20px;
  margin: 40px 72px 0 auto;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("/images/b4ad683c-594e-1fff-c1c8-0354539e5ad0.png");
  background-position: 50% 15%;
  background-size: cover;
  margin: 83px auto 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  text-transform: none;
  font-size: 2.25rem;
  margin: 23px 0 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-9 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  font-size: 1.5rem;
  --radius: 20px;
  margin: 40px 72px 0 auto;
}

.u-section-5 .u-shape-1 {
  width: 242px;
  height: 219px;
  margin: 94px auto 0 40px;
}

.u-section-5 .u-icon-1 {
  width: 39px;
  height: 39px;
  margin: -121px 191px 0 auto;
  padding: 0;
}

.u-section-5 .u-btn-5 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 2.25rem;
  margin: -52px 230px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-top: 188px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 774px;
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-5 {
    margin-top: -53px;
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    margin-top: 125px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1779px;
    grid-auto-columns: 50%;
  }

  .u-section-5 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -102px;
    margin-right: 90px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 10px;
}.u-section-7 .u-sheet-1 {
  min-height: 10px;
}.u-section-8 .u-sheet-1 {
  min-height: 10px;
}.u-section-9 .u-sheet-1 {
  min-height: 10px;
}